.form-contain{

    background-color: rgb(151, 151, 170);
    padding: 30px;
    box-shadow: 10px 0px 10px 0px;
    width: 50%;
    margin: 45%;
    height : 100%;
    font-family: Arial, Helvetica, sans-serif;
}



.btn {
    color: #fff;
    background-color: #1d7180 ;
    border-color: #1d7180; 
}


